footer
* {
    margin: 0;
    padding: 0;
}


.fab {
    padding: 3px;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
}

.footer-info {
    padding:50px 0px;
    color: rgb(108, 108, 108);
    font-size: 1rem;
}

.footer-title {
    font-size: 1.2rem;
}

.footer-links {
    padding-left: 0;
}

.footer-links ul li {
    list-style-type: none;
    text-decoration: none;
}

.footer-links a {
    text-decoration: none;
    color: rgb(108, 108, 108);
}
.footer-links a:hover{
    text-decoration: underline;
}

footer {
    width: 100vw;
    height: 300px;
    background-color: rgb(224, 224, 224);
=======
.blueheader {
    background-color: rgb(37, 192, 202) ;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.blueheader h2, .blueheader h3 {
    color: white;
    padding: 13px;
}

.blueheader img {
    height: 50px;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
}

header i {
    padding-top: 30px;
}
header a {
    color: white;
    text-decoration: none;
}