.blueheader {
    background-color: rgb(37, 192, 202) ;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.blueheader h2, .blueheader h3 {
    color: white;
    padding: 13px;
}

.blueheader img {
    height: 50px;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
}

header i {
    padding-top: 30px;
}
header a {
    color: white;
    text-decoration: none;
}